.fixedContactButton {
    display: none;
}
  
nav {
    display: flex;
    height: 60px;
    padding: 8px 24px;
    align-items: center;
    gap: 32px;
    align-self: stretch;
}
  
.navItem {
    color: #403930;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%; /* 18px */
}

.badge {
     /* display: flex; */

    padding: 8px 15px;

    /* justify-content: center; */
    /* align-items: center; */
    /* gap: 10px; */
    border-radius: 10px;
    background: #e6eeff;
    width: fit-content;

    /* 텍스트 속성 */
    color: #000;
    font-size: 13px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%; /* 36px */

    margin-bottom: 10px;  
}

header {
    padding-left: 8px;
    display: flex;
}

header h1 {
    color: #333;
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    line-height: 38.4px; /* 80px */
    letter-spacing: -2px;
}

.headerLinkContainer {
    display: flex;
    gap: 20px;
    /* flex-direction: row; */
}
.headerLink {
    /* background-color: ; */
    padding: 8px 20px;
    width: 120px;
    display: block;
    text-decoration: none;
    background: black;
    color: white;
    border-radius: 16px;
    border: 1.5px solid #403930;
    text-align: center;
}
.headerLink.white {
    background: white;
    color: black;
}

.pic {
    display: none;
}

.aboutMe {
    max-width: 390px;
    margin: 0 auto;
    padding: 60px 24px;
}
.aboutMe h2 {
    color: #000;
    font-size: 15px;
    /* white-space: pre-line; */
    font-style: normal;
    font-weight: 700;
    line-height: 125%; /* 50px */
    letter-spacing: -0.8px;
}

.aboutMe p {
    color: #333;
    font-size: 11px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%; /* 30px */
    white-space: pre-line;
}

.flyingPerson {
    width: 35px;
    height: 35px;
    position: absolute;
    /* top: 0px; */
    bottom: 22px;
    /* right: 0px; */
    left: 70px;
}


.techStackContainer {
    padding: 50px 24px;
}

.techStackContainer p {
    margin-bottom: 30px;
}

.techStackContainer h3 {
    color: #000;
    text-align: left;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 26px; /* 65% */
    letter-spacing: -0.8px;
    padding-bottom: 10px;
}
.techStackContainer p {
    color: #333;
    text-align: left;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 130% */
}

.teckLogos {
    max-width: 390px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-row-gap: 20px;
    grid-column-gap: 20px;
    padding-inline-start: 0px;
}

.teckLogos img {
    width: 100%;
    height: auto;
    max-width: 100%;
    max-height: 100%;
    display: block;
}

/* 프로젝트 */
.projectContainer {
    padding: 60px 24px;
    display: block;
}

.projectContainer h1 {
    color: #403930;
    font-family: Pretendard;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 125%; /* 50px */
    letter-spacing: -0.8px;
}

.project {
    height: 400px;
    background-color: #E6EEFF;
    display: flex;
    flex-direction:column-reverse;
    padding: 24px 16px;
    align-items: center;
    gap: 40px;
    align-self: stretch;
    margin-top: 32px;
    border-radius: 16px;
}

.project h2 {
    color: #403930;
    font-family: Pretendard;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%; /* 36px */ 
}
.projectContent {
    padding: 24px 16px;
}
.project p {
    color: #403930;
    font-family: Pretendard;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%; /* 24px */
}
.project a {
    color: #00446A;
    font-family: Pretendard;
    font-size: 17px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%; /* 30px */
    text-decoration-line: underline;
}
.projectImg {
    display: flex;
    gap: 20px;
    padding: 0px;
}
.projectImg img {
    width: 85px;
    height: 190px;
    flex-shrink: 0;
    border-radius: 16px;
    margin: 0px;
    background: url(), lightgray 50% / cover no-repeat;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.15);
}
.projectLink {
    display: flex;
    gap: 20px;
}


.feedbackContainer {

}

.feedbackContainer h1 {
    color: #403930;
    font-family: Pretendard;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 125%; /* 50px */
    letter-spacing: -0.8px;
}


.aspiration h1 {
    color: #403930;
    font-family: Pretendard;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 125%; /* 50px */
    letter-spacing: -0.8px;
}

/* box-sizing: border-box; */